body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
    color: white;
    padding-left: 5%;
}
.formatting{
    color: white;
    text-align: justify;
    padding-left: 5%;
}
#coloring{
    color: sienna;
}
.specifying-color{
    color: aqua;
    font-style: italic;
}
.flexible{
    width: 50%;
}
#background-image{
    background-image: url(images/banner1.png);
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
    margin-top: 0%;
    display: flex;
}
#resize{
    margin-top: 25px;
    margin-left: 170px;
}
.decorate{
    font-size: 16px;
    color: black;
    font-weight:bold;
    text-decoration: none;
    background-image: linear-gradient(antiquewhite, coral);
    padding: 5px 30px;
    margin-left: 33px;
    border-radius: 12px;
}
.decoration{
    font-size: 16px;
    color: black;
    font-weight:bold;
    text-decoration: none;
    background-image: linear-gradient(cyan,darkcyan);
    padding: 5px 32px;
    margin-left: 8px;
    border-radius: 5px;
}
#image-format{
    margin-right: 10px;
    width: 38%;
    margin-top: 25px;
    margin-left: 180px;
}
#again-flexing{
    display: flex;
    background-image: url(images/banner2.png);
    margin-top: 20px;
    width: 100%;
    height: 470px;
    background-repeat: no-repeat;
}
#again-resize{
    margin-left: 10px;
    width: 10px;
}
#again-format{
    color: white;
    margin-left: 50%;
    text-align: justify;
    padding-right: 15px;
}
#style{
    color: rgb(235, 110, 97);
}
#styling-image{
    width: 430px;
    position: relative; 
    top: -70px; 
    left: 50px;
}
#aligning{
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
#difference-color{
    font-size: 23px;
    color: rgb(99, 88, 88);
}
.placing{
    display: flex;
    margin-top: 7%;
    padding-right: 12%;
    padding-left: 7%;
    margin-left: 9%;
}
.width-formating{
    width: 22%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    box-shadow: 10px 10px 38px rgb(148, 139, 139);
    margin-left: 20px;
    margin-right: 55px;
    border-radius: 25px;
}
.width-formating img{
    width: 100%;
}
.width-formating h3{
    text-align: justify;
    font-weight: 600;
}
.width-formating p{
    text-align: justify;
}
#ending{
    background-image: url(images/last\ banner.png);
    width: 100%;
    background-repeat: no-repeat;
    margin-top: 10%;
    margin-bottom: 0%;
    text-align: center;
}
#ending h1{
    color: white;
    padding-top: 2%;
    padding-right: 52px;
}
#ending p{
    color: rgb(238, 238, 194);
    padding-bottom: 5%;
}
